.box {
  margin: 0 auto;
  width: 800px;
  height:300px;
  background-color: rgba(black, 0.2);

  border: solid thin black;
  border-radius: 15px;

}
.auth {
  width: 90%;
  height: 90%;
  padding: 20px;

  display: flex-wrap;
  align-items: center;
  justify-content: center;

  > * {
    width: 100%;
    padding: 15px 25px;
    margin: 0;
  }
}

.input {
  margin-left: 25px;
  span {
    margin-right: 25px;
  }
  .error {
    color: red;
  }
}

.submit {
  text-align: center;
  button {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: black;
    border: solid thin black;
    border-radius: 15px;

    &:disabled {
      opacity: 0.5;
    }
  }
}
