.nickname {
  position: relative;
  width: 50%;
  height: 200px;
  margin: 0 auto;
  border: solid thin rgba(black, 0.5);
  background-color: #fafafa;
  border-radius: 10px;
  padding: 15px;
  align-content: center;

  p {
    width: 100%;
    font-weight: 600;
  }

  input {
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding-left: 10px;
    border: solid thin rgba(black, 0.5);
  }

  button {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 150px;
    height: 50px;
    transform: translateX(-75px);
    background-color: #e7e7e7;
    border-radius: 10px;
  }
}


.chat {
  position: relative;
  height: 300px;
  border: solid thin rgba(black, 0.5);
}

.chat .history {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow-x: auto;
  height: 250px;

  li {
    margin: 10px 5px;
  }
}

.chat .control {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: solid thin rgba(black, 0.5);

  input {
    width: 80%;
    height: 100%;
    padding: 10px;
    border-right: solid thin rgba(black, 0.5);
  }

  button {
    width: 20%;
    height: 100%;
  }
}
